.mainInfo {
  position: relative;
  height: 60px;
  display: flex;
  width: auto;
  overflow-x: auto;
}

.mainInfo > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.mainInfo > div > * {
  margin: 0 5px;
}

.start-node span,
.end-node span {
  font-weight: 700;
  color: #1abc9c;
  font-size: 20px;
}

.weight-node span {
  font-size: 18px;
  font-weight: 700;
}

.cube {
  width: 25px;
  height: 25px;
  border: none;
}

.cube::before {
  content: "";
  position: absolute;
  left: -5px;
  width: 25px;
  height: 25px;
  border: 0.3px solid rgba(0, 0, 0, 0.226);
}

.cube.visited::before,
.cube.marker::before,
.cube.block::before {
  height: 25px;
  width: 25px;
  left: -5px;
}
