<div class="mainInfo">
  <div class="start-node">
    <span class="material-symbols-outlined icon"> arrow_forward_ios </span>
    <div>Start Node</div>
  </div>

  <div class="end-node">
    <span class="material-symbols-outlined icon"> mode_standby </span>
    <div>End Node</div>
  </div>

  <div class="weight-node">
    <span class="material-symbols-outlined"> weight</span>
    <div>Weight Node</div>
  </div>

  <div class="cube-node">
    <td class="cube"></td>
    <span>Unvisited Node</span>
  </div>

  <div class="visited-node">
    <td class="cube visited"></td>
    <span>Visited Node</span>
  </div>

  <div class="path-node">
    <td class="cube marker"></td>
    <span>Path Node</span>
  </div>

  <div class="block-node">
    <td class="cube block"></td>
    <span>Block Node</span>
  </div>
</div>
