<table #table class="table" cdkDropListGroup>
  <tr *ngFor="let row of board">
    <td
      *ngFor="let cube of row"
      [id]="'node-' + cube.id"
      [ngClass]="{
        cube: true,
        block: cube.isBlock,
        marker: cube.marker,
        markerNoAnimate: cube.markerNoAnimate,
        visited: cube.visited,
        visitNoAnimate: cube.visitNoAnimate
      }"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="cube"
      (mousedown)="onMouseDown(cube)"
      (mouseenter)="onMouseEnter(cube)"
      (mouseup)="onMouseUp()"
    >
      <app-start-node *ngIf="cube.startNode"></app-start-node>
      <app-end-node *ngIf="cube.endNode"></app-end-node>
      <app-weight-node
        *ngIf="cube.weight > 13 ? true : false"
      ></app-weight-node>
    </td>
  </tr>
</table>
