<table #table class="table" cdkDropListGroup>
  <tr *ngFor="let row of board">
    <td
      *ngFor="let cube of row"
      [id]="'node-' + cube.id"
      [ngClass]="{
        cube: true,
        marker: cube.marker,
        visited: cube.visited,
        active: cube.isBlock || cube.marker || cube.visited,
        block: cube.isBlock
      }"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="cube"
      (mousedown)="onMouseDown(cube)"
      (mouseenter)="onMouseEnter(cube)"
      (mouseup)="onMouseUp()"
    >
      <app-start-node
        *ngIf="cube.startNode"
        [initials]="initials"
        [board]="board"
      ></app-start-node>
      <app-end-node
        *ngIf="cube.endNode"
        [initials]="initials"
        [board]="board"
        [endNodeRow]="initials.endNodeRow"
        [endNodeCol]="initials.endNodeCol"
      ></app-end-node>
      <app-weight-node
        *ngIf="cube.weight > 13 ? true : false"
      ></app-weight-node>
    </td>
  </tr>
</table>
