<div class="navbar">
  <app-logo></app-logo>
  <div class="container">
    <app-maze-algo-menu></app-maze-algo-menu>
    <app-path-algo-menu></app-path-algo-menu>
  </div>

  <button
    class="visualize big"
    mat-raised-button
    color="primary"
    [disabled]="isVisualize"
    (click)="visualizePath()"
  >
    Visualize {{ this.curPathAlgo }}
  </button>

  <div class="container">
    <button
      mat-raised-button
      color="primary"
      [disabled]="isVisualize"
      (click)="resetBoard()"
    >
      Reset Board
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="isVisualize"
      (click)="clearBoard()"
    >
      Clear Board
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="isVisualize"
      (click)="clearPath()"
    >
      Clear Path
    </button>

    <button
      class="visualize small"
      mat-raised-button
      color="primary"
      [disabled]="isVisualize"
      (click)="visualizePath()"
    >
      Visualize {{ this.curPathAlgo }}
    </button>
  </div>
</div>
